.post-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 12px;
  .post-card {
    // border: 1px solid rgb(0, 0, 255);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 4px;
    box-shadow: 1px 1px 3px rgb(255, 125, 11);
    img {
      height: 180px;
    }
  }
  .footer {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    padding: 5px;
    div {
      display: flex;
      align-items: center;
      padding: 3px 6px;
      border-radius: 3px;
      font-size: 1.4rem;
      box-shadow: 1px 1px 4px rgb(85, 43, 255);
      cursor: pointer;
      gap: 4px;
      span {
        font-size: 1rem;
      }
    }
  }
}
